#footer-contacts {
  font-size: medium;
}

.onlyDesktop {
  display: none;
}

#banner {
  background-image: url("../images/index/carpenter/002.jpg");
  background-size: 209% !important;
}

#widget_email_btn {
  margin-top: 10px;
}

@media only screen and (min-width: 376px) {
  #widget_email_btn {
    margin: 0;
  }
}

@media only screen and (min-width: 375px) {
  #widget_email_btn {
    margin: 0;
  }

  #banner {
    background-size: 152% !important;
  }
}

@media only screen and (min-width: 425px) {
  #banner {
    background-size: 134% !important;
  }
}

@media only screen and (min-width: 768px) {
  #banner {
    background-image: url("../images/index/carpenter/001.jpg");
    background-size: 116% !important;
  }

  #bannerContainer {
    min-height: 40vh;
  }
}

@media only screen and (min-width: 1024px) {
  .onlyMobile {
    display: none;
  }

  .onlyDesktop {
    display: block;
  }

  #banner {
    background-size: 100% !important;
  }

  #bannerContainer {
    min-height: 59vh;
  }
}

@media only screen and (min-width: 1440px) {
  #bannerContainer {
    min-height: 86vh;
  }
}
